body {
	width: 100%;
	height: auto;
	font-family: Arial, Verdana, 'Open Sans', sans-serif;
	}

.container {
	max-width: 1200px;
	margin: auto;
	}

.bloco {
	background-color: #46494C;
	width: 30%;
	height: 150px;
	margin: 5px;
	padding: 15px;
	}

.left {
	margin-left: 5%;
}	

.right {
	margin-right: 5%;
}

.container-bloco {
	background-color: #E0E0E0;
	margin: auto;
	padding: 30px;
	display: inline-flex;
	}

.icon {
	vertical-align: middle;
	float: left;
	margin: 5px;
}

.title {
	text-align: center;
	color: 
}

.text-bloco {
	color: #E0E0E0;
}