<!DOCTYPE html>
<html ng-app="happyWorkspace">
<head>
	<meta charset="utf-8">	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Code in Polar</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<script type="text/javascript" src="js/style.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/controllers/dashboard-controller.js"></script>

	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://rawgithub.com/pablojim/highcharts-ng/master/src/highcharts-ng.js"></script>

</head>
<body ng-controller="DashboardCtrl as vm">
		<header class="header-paralax">
		<div class="efeito">
 				<figure>
      				<img width="100%" class="img-efeito" src="img/banner-1.png">
  				</figure>
		</div>
    		<h1>Happy workplace</h1>
  		</header>
  		<div id="navbar" class="fixed-top">
      			<a href="">Home</a>
        		<a href="rh.html">RH</a>
        		<a href="">Contact</a>
        		<span style="float: right; margin-right: 15px;"><a href="">Sign out</a></span>
    	</div>
		<div class="container">	
			<div class="container-bloco">
				<div class="bloco left card-info">
					<h3 class="title">Mental</h3><br>
					<div><img class="icon" src="https://png.icons8.com/wired/50/000000/brain.png"></div>
					<div><p class="text-bloco">Bacon ipsum dolor amet chuck cow tail jerky salami ham hock andouille pig pancetta beef ribs hamburger leberkas t-bone shoulder. Beef sausage salami picanha strip steak ham cupim meatloaf porchetta pork loin drumstick pork chop jowl.</p></div>
				</div>
				<div class="bloco card-info">
					<h3 class="title">Física</h3><br>
					<div><img class="icon" src="https://png.icons8.com/ios/50/000000/health-checkup.png"></div>
					<div><p class="text-bloco">Beef sausage salami picanha strip steak ham cupim meatloaf porchetta pork loin drumstick pork chop jowl.Beef sausage salami picanha strip steak ham cupim meatloaf porchetta pork loin drumstick pork chop jowl.</p></div>
					
				</div>
				<div class="bloco right card-info">
					<h3 class="title">Humor</h3><br>
					<div><img class="icon" src="https://png.icons8.com/ios/50/000000/lol.png"></div>
					<div class="text-bloco">Rump corned beef cow pork loin andouille ribeye ground round kevin sausage turducken pig cupim. Burgdoggen boudin salami filet mignon. Beef sausage salami picanha strip steak ham cupim meatloaf porchetta pork loin drumstick pork chop jowl.</div>					
				</div>
			</div>
			<div class="container-bloco">
				<div class="bloco-img card-chart">
					<highchart id="chart1" config="vm.chartProblemasConfig" ng-hide="vm.erroProblemas"></highchart>
					<div class="card-erro card-info quebra" style="font-size: 20px;" ng-if="vm.erroProblemas">
						<p>Nenhum dado encontrado</p>
					</div>
				</div>
				<div class="bloco-img card-chart">
					<highchart id="chart1" config="vm.chartExercicioConfig" ng-hide="vm.erroExercicios"></highchart>
					<div class="card-erro card-info quebra" style="font-size: 20px;" ng-if="vm.erroExercicios">
						<p>Nenhum dado encontrado</p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>