{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %}
	Code in Polar
{% endblock %}

{% block css %}
	<link rel="stylesheet" href="{% static 'css/reset.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
<!--Começo blocos-->
	<div class="container">
		<div class="container-bloco">
			<div class="bloco left">
				<h3 class="title">Mental</h3><br>
				<div><img class="icon" src="https://png.icons8.com/wired/50/000000/brain.png"></div>
				<div><p class="text-bloco">Bacon ipsum dolor amet chuck cow tail jerky salami ham hock andouille pig pancetta beef ribs hamburger leberkas t-bone shoulder. Beef sausage salami picanha strip steak ham cupim meatloaf porchetta pork loin drumstick pork chop jowl.</p></div>
			</div>
			<div class="bloco">
				<h3 class="title">Física</h3><br>
				<div><img class="icon" src="https://png.icons8.com/ios/50/000000/health-checkup.png"></div>
				<div><p class="text-bloco">Beef sausage salami picanha strip steak ham cupim meatloaf porchetta pork loin drumstick pork chop jowl.Beef sausage salami picanha strip steak ham cupim meatloaf porchetta pork loin drumstick pork chop jowl.</p></div>

			</div>
			<div class="bloco right">
				<h3 class="title">Humor</h3><br>
				<div><img class="icon" src="https://png.icons8.com/ios/50/000000/lol.png"></div>
				<div class="text-bloco">Rump corned beef cow pork loin andouille ribeye ground round kevin sausage turducken pig cupim. Burgdoggen boudin salami filet mignon. Beef sausage salami picanha strip steak ham cupim meatloaf porchetta pork loin drumstick pork chop jowl.</div>
			</div>
		</div>
	</div>
<!--Final blocos-->	
{% endblock %}
